.navbar {
  background: #fafafa;
  padding: 20px;
  background-clip: content-box;
  &__p__logo {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
  }
  &__p__email {
    margin: 0 6px 0 0;
  }
  & button {
    // padding: 0;
  }
}
