.navbar {
  // background-color: #101010;
  // background: #fafafa;
  // background-color: #ffffff;
  padding: 20px;
  background-clip: content-box;
  color: #eeeeee;
  &__p__logo {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
  }
  &__img__logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  &__p__user {
    color: #101010;
    margin: 0 6px 0 6px;
  }
}
