/* Main Page */
body {
  -ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* List Page */
.listItem-link {
  text-decoration: none;
  color: #000000;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.quill {
  height: 65vh;
}

a {
  text-decoration: none;
  color: black;
}
.navbar {
  background: #fafafa;
  padding: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.logo {
  font-size: 40px;
  font-weight: bold;
}
.list-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}
/* .list-bg {
  background-color: ;
} */
.list-item {
  /* background-color: ; */
  opacity: 1;
  transition: all 1s;
}
.dark-mode {
  background-color: #101010;
  color: #fafafa;
}
.dark-mode .navbar {
  background-color: #101010;
}
.dark-mode .navbar a {
  color: #fafafa;
}
.dark-mode .navbar p {
  color: #fafafa;
}
.light-mode {
  background-color: #fafafa;
}
.light-mode .navbar {
  background-color: #fafafa;
}
.light-mode .navbar {
  color: #fafafa;
}
.light-mode p {
  /* color: black; */
}
.comment-form {
  resize: none;
}
.p-email {
  color: #101010;
}
.footer {
  color: #4d4d4d4d;
  padding: 20px;
  text-align: center;
}
.div-comment {
  margin-top: 150px;
}
.loading_container {
  display: flex;
}
.loading_content {
  margin: auto;
}
