/* Main Page */
body {
  -ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.quill {
  height: 65vh;
}

.dark-mode {
  background-color: #101010;
  color: #fafafa;
}
.dark-mode .navbar {
  background-color: #101010;
}
.dark-mode .navbar a {
  color: #fafafa;
}
.dark-mode .navbar p {
  color: #fafafa;
}
.light-mode {
  background-color: #fafafa;
}
.light-mode .navbar {
  background-color: #fafafa;
}
.light-mode .navbar {
  color: #fafafa;
}
.light-mode p {
  /* color: black; */
}
.comment-form {
  resize: none;
}
.p-email {
  color: #101010;
}
.div-comment {
  margin-top: 150px;
}
